.about-section {
  background-color: black; 
  padding: 20px; 
  border-radius: 8px; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

.about-heading {
  text-align: left;
  font-size: 2rem;
  margin-left: 20px;
  color: black; 
}

.about-text {
  text-align: left;
  font-size: 1.1rem;
  line-height: 1.8;
  margin-left: 20px;
  max-width: 550px; 
  margin-top: 10px;
  word-wrap: break-word; 
}

.left-align {
  margin-top: 20px;  
  text-align: left;  
}

.resume-button {
  background-color: #4CAF50; 
  color: white;
  align-items: center;
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transition: transform 0.3s ease, background-color 0.3s ease; 
}

.resume-button:hover {
  background-color: #24c77b; 
  transform: scale(1.1); 
}

.fade-content {
  opacity: 0;
  transition: opacity 3s ease-out;
}

.fade-content.fade-in {
  opacity: 1;
}
