.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
  
}

.contact-form {
  flex: 1; 
  max-width: 500px;
}

.animation-container {
  flex: 0 0 150px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.animation-container .lottie-player {
  height: 150px;
  width: 150px;
}

.social-icon {
<<<<<<< HEAD
  margin: 0 10px;
  color: #333;
}

.social-icon:hover {
  color: #007bff; 
}
/* Apply white text color globally in the Contact component */
.container {
  color: white;
}

h1, .form-label, .text-center, .social-icon {
  color: white;
}

.social-icon {
  color: white; /* Ensure social icons have a white color */
}

form .form-control {
  color: white; /* Change text color inside input/textarea fields */
  background-color: #333; /* Optional: dark background to match the theme */
}

form .form-control::placeholder {
  color: #bbb; /* Light color for placeholders */
}

button {
  color: white; /* Button text color */
  background-color: #007bff; /* Customize the button color */
=======
  color: #333; 
  transition: color 0.3s ease, text-shadow 0.3s ease;
  margin: 0 15px; 
}

.social-icon:hover {
  color: #e1306c; 
  text-shadow: 0 0 10px rgba(225, 48, 108, 0.7); 
}




.lottie-container {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1; 
}


.social-icon {
  color: #333; 
  transition: color 0.3s ease, text-shadow 0.3s ease;
  margin: 0 15px; 
}

.social-icon:hover {
  color: #e1306c; 
  text-shadow: 0 0 10px rgba(225, 48, 108, 0.7); 
}


.social-icon:hover:nth-child(1) {
  color: #e1306c; 
}

.social-icon:hover:nth-child(2) {
  color: #0077b5; 
}

.social-icon:hover:nth-child(3) {
  color: #333; 
}

.container {
  position: relative; 
>>>>>>> 621168c280c6c6755cd5ae4205355cc2a8073955
}
